<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="../static/js/script.js"></script>
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="https://kit.fontawesome.com/c1eeda221a.js" crossorigin="anonymous"></script>
    <title>main_index.html</title>
</head>
<body>
<div class = "container">
<div class = "titlecon">
<div class = "titletype">
<table>
    <tr>
        <td>
            <p class="result1" style="font-size: 5vw;"></p>
            <br>
            <br>
            <p class="result2" style="font-size: 5vw;"></p>
        </td>
    </tr>
</table>
</div>
</div>
<div class = "contentcon">
<table style="width: 100%">
    <tr>
        <td style="width: 33%">
        <table style="text-align: center; width: 100%;">
            <tr>
                <td>
                    <div class="text">
                        <span class="fas fa-desktop icon"></span>
                        <!--<h2><a href="/blog/">BLOG</a></h2>-->
                        <h2><a href = "https://dailusia.blog.fc2.com">BLOG</a></h2>
                    </div>
                </td>
            </tr>
        </table>
        </td>
        <td style="width: 33%">
        <table style="text-align: center; width: 100%;">
            <tr>
                <td>
                    <div class="text">
                        <span class="far fa-address-book icon"></span>
                        <h2><a href="/portfolio/">PORTFOLIO</a></h2>
                    </div>
                </td>
            </tr>
        </table>
        </td>
        <td style="width: 33%">
        <table style="text-align: center; width: 100%;">
            <tr>
                <td>
                    <div class="text">
                        <span class="fab fa-github icon"></span>
                        <h2><a href="https://github.com/LucestDail">GITHUB</a></h2>
                    </div>
                </td>
            </tr>
        </table>
        </td>
    </tr>
</table>
</div>
</div>
</body>
</html>